<a href="https://colab.research.google.com/github/monahusein/Hw/blob/main/Task8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv')

In [4]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344856,ZWE,Africa,Zimbabwe,2023-09-23,265748.0,0.0,0.0,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
344857,ZWE,Africa,Zimbabwe,2023-09-24,265748.0,0.0,0.0,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
344858,ZWE,Africa,Zimbabwe,2023-09-25,265748.0,0.0,0.0,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
344859,ZWE,Africa,Zimbabwe,2023-09-26,265748.0,0.0,0.0,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
344860,ZWE,Africa,Zimbabwe,2023-09-27,265748.0,0.0,0.0,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [5]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [6]:
df.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
344856,ZWE,Africa,Zimbabwe,2023-09-23,265748.0,0.0,0.0,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
344857,ZWE,Africa,Zimbabwe,2023-09-24,265748.0,0.0,0.0,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
344858,ZWE,Africa,Zimbabwe,2023-09-25,265748.0,0.0,0.0,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
344859,ZWE,Africa,Zimbabwe,2023-09-26,265748.0,0.0,0.0,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
344860,ZWE,Africa,Zimbabwe,2023-09-27,265748.0,0.0,0.0,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344861 entries, 0 to 344860
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    344861 non-null  object
 1   continent                                   328453 non-null  object
 2   location                                    344861 non-null  object
 3   date                                        344861 non-null  object
 4   total_cases                                 306964 non-null  float64
 5   new_cases                                   335338 non-null  float64
 6   new_cases_smoothed                          334079 non-null  float64
 7   total_deaths                                285503 non-null  float64
 8   new_deaths                                  335378 non-null  float64
 9   new_deaths_smoothed                         334148 non-null  float64
 10  total_cases_per_million                     306964 non-null  float64
 11  new_cases_per_million                       335338 non-null  float64
 12  new_cases_smoothed_per_million              334079 non-null  float64
 13  total_deaths_per_million                    285503 non-null  float64
 14  new_deaths_per_million                      335378 non-null  float64
 15  new_deaths_smoothed_per_million             334148 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                37459 non-null   float64
 18  icu_patients_per_million                    37459 non-null   float64
 19  hosp_patients                               38664 non-null   float64
 20  hosp_patients_per_million                   38664 non-null   float64
 21  weekly_icu_admissions                       10136 non-null   float64
 22  weekly_icu_admissions_per_million           10136 non-null   float64
 23  weekly_hosp_admissions                      23093 non-null   float64
 24  weekly_hosp_admissions_per_million          23093 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          78842 non-null   float64
 35  people_vaccinated                           75468 non-null   float64
 36  people_fully_vaccinated                     72112 non-null   float64
 37  total_boosters                              47129 non-null   float64
 38  new_vaccinations                            64926 non-null   float64
 39  new_vaccinations_smoothed                   179118 non-null  float64
 40  total_vaccinations_per_hundred              78842 non-null   float64
 41  people_vaccinated_per_hundred               75468 non-null   float64
 42  people_fully_vaccinated_per_hundred         72112 non-null   float64
 43  total_boosters_per_hundred                  47129 non-null   float64
 44  new_vaccinations_smoothed_per_million       179118 non-null  float64
 45  new_people_vaccinated_smoothed              178769 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  178769 non-null  float64
 47  stringency_index                            197651 non-null  float64
 48  population_density                          292701 non-null  float64
 49  median_age                                  272226 non-null  float64
 50  aged_65_older                               262693 non-null  float64
 51  aged_70_older                               269498 non-null  float64
 52  gdp_per_capita                              266785 non-null  float64
 53  extreme_poverty                             171918 non-null  float64
 54  cardiovasc_death_rate                       267393 non-null  float64
 55  diabetes_prevalence                         280994 non-null  float64
 56  female_smokers                              200573 non-null  float64
 57  male_smokers                                197841 non-null  float64
 58  handwashing_facilities                      130960 non-null  float64
 59  hospital_beds_per_thousand                  236037 non-null  float64
 60  life_expectancy                             317238 non-null  float64
 61  human_development_index                     259170 non-null  float64
 62  population                                  344861 non-null  float64
 63  excess_mortality_cumulative_absolute        11944 non-null   float64
 64  excess_mortality_cumulative                 11944 non-null   float64
 65  excess_mortality                            11944 non-null   float64
 66  excess_mortality_cumulative_per_million     11944 non-null   float64
dtypes: float64(62), object(5)
memory usage: 176.3+ MB

In [8]:
df.shape

(344861, 67)

In [9]:
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,3.069640e+05,3.353380e+05,3.340790e+05,2.855030e+05,335378.000000,334148.000000,306964.000000,335338.000000,334079.000000,285503.000000,...,197841.000000,130960.000000,236037.000000,317238.000000,259170.000000,3.448610e+05,1.194400e+04,11944.000000,11944.000000,11944.000000
mean,6.571274e+06,9.740990e+03,9.777569e+03,8.538039e+04,86.777994,87.093917,100066.612321,147.220899,147.771856,864.828116,...,32.910329,50.789424,3.097260,73.714927,0.722475,1.284284e+08,5.113397e+04,9.738000,11.461947,1644.920249
std,4.013913e+07,1.111088e+05,9.519139e+04,4.371278e+05,618.277391,563.307165,149790.634356,1172.387585,604.285810,1094.986212,...,13.573664,31.955832,2.548358,7.395486,0.148978,6.607026e+08,1.443228e+05,12.384572,25.362370,1927.690984
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-3.772610e+04,-44.230000,-95.920000,-2752.924800
25%,7.910000e+03,0.000000e+00,2.860000e-01,1.250000e+02,0.000000,0.000000,2547.967250,0.000000,0.057000,59.195000,...,22.600000,20.859000,1.300000,69.590000,0.602000,4.490020e+05,1.064000e+02,1.310000,-1.632500,64.913517
50%,6.889000e+04,2.000000e+00,2.600000e+01,1.302000e+03,0.000000,0.143000,27423.887000,0.179000,6.867000,371.780000,...,33.100000,49.839000,2.500000,75.050000,0.740000,5.882259e+06,5.732800e+03,8.060000,5.770000,1071.505500
75%,7.269022e+05,2.760000e+02,5.151430e+02,1.174400e+04,3.000000,5.286000,130428.130000,36.966000,84.638000,1349.452000,...,41.300000,82.502000,4.200000,79.460000,0.829000,2.830170e+07,3.666995e+04,15.470000,16.522500,2701.609900
max,7.708747e+08,8.401961e+06,6.402036e+06,6.959303e+06,27939.000000,14822.000000,737554.506000,228872.025000,37241.781000,6504.190000,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,1.289776e+06,76.550000,377.630000,10292.916000

In [10]:
df.sample(15)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
153782,JOR,Asia,Jordan,2023-01-03,1746997.0,0.0,0.000,14122.0,0.0,0.000,...,NaN,NaN,1.400,74.53,0.729,11285875.0,NaN,NaN,NaN,NaN
44258,BRN,Asia,Brunei,2021-08-18,946.0,94.0,64.571,4.0,0.0,0.143,...,30.9,NaN,2.700,75.86,0.838,449002.0,NaN,NaN,NaN,NaN
98544,FRO,Europe,Faeroe Islands,2021-01-14,650.0,1.0,1.000,1.0,0.0,0.000,...,NaN,NaN,NaN,80.67,NaN,53117.0,NaN,NaN,NaN,NaN
285507,ZAF,Africa,South Africa,2021-05-18,1615485.0,1757.0,2537.286,55260.0,50.0,62.143,...,33.2,43.993,2.320,64.13,0.709,59893884.0,NaN,NaN,NaN,NaN
251111,ROU,Europe,Romania,2020-05-21,17387.0,196.0,197.857,1147.0,10.0,15.857,...,37.1,NaN,6.892,76.05,0.828,19659270.0,NaN,NaN,NaN,NaN
324209,GBR,Europe,United Kingdom,2022-10-21,23864809.0,7598.0,8022.857,210366.0,101.0,110.000,...,24.7,NaN,2.540,81.32,0.932,67508936.0,NaN,NaN,NaN,NaN
171543,LIE,Europe,Liechtenstein,2023-02-01,21359.0,0.0,1.286,87.0,0.0,0.000,...,NaN,NaN,2.397,82.49,0.919,39355.0,NaN,NaN,NaN,NaN
259446,LCA,North America,Saint Lucia,2020-10-19,33.0,0.0,0.571,NaN,0.0,0.000,...,NaN,87.202,1.300,76.20,0.759,179872.0,NaN,NaN,NaN,NaN
117899,GRL,North America,Greenland,2021-09-27,565.0,12.0,14.429,NaN,0.0,0.000,...,NaN,NaN,NaN,71.70,NaN,56494.0,NaN,NaN,NaN,NaN
312809,TUN,Africa,Tunisia,2021-06-20,381175.0,2193.0,2018.286,13960.0,86.0,74.857,...,65.8,78.687,2.300,76.70,0.740,12356116.0,NaN,NaN,NaN,NaN
5126,DZA,Africa,Algeria,2022-11-02,270840.0,1.0,4.286,6881.0,0.0,0.000,...,30.4,83.741,1.900,76.88,0.748,44903228.0,NaN,NaN,NaN,NaN
167575,LSO,Africa,Lesotho,2023-06-05,34490.0,0.0,0.000,706.0,0.0,0.000,...,53.9,2.117,NaN,54.33,0.527,2305826.0,NaN,NaN,NaN,NaN
9667,AIA,North America,Anguilla,2020-05-01,3.0,0.0,0.000,NaN,0.0,0.000,...,NaN,NaN,NaN,81.88,NaN,15877.0,NaN,NaN,NaN,NaN
303068,TZA,Africa,Tanzania,2020-12-09,509.0,0.0,0.000,21.0,0.0,0.000,...,26.7,47.953,0.700,65.46,0.529,65497752.0,NaN,NaN,NaN,NaN
163136,LAO,Asia,Laos,2022-06-23,210222.0,1.0,6.000,671.0,0.0,0.000,...,51.2,49.839,1.500,67.92,0.613,7529477.0,NaN,NaN,NaN,NaN

In [11]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
total_cases,306964.0,6.571274e+06,4.013913e+07,1.0000,7910.000000,6.889000e+04,7.269022e+05,7.708747e+08
new_cases,335338.0,9.740990e+03,1.111088e+05,0.0000,0.000000,2.000000e+00,2.760000e+02,8.401961e+06
new_cases_smoothed,334079.0,9.777569e+03,9.519139e+04,0.0000,0.286000,2.600000e+01,5.151430e+02,6.402036e+06
total_deaths,285503.0,8.538039e+04,4.371278e+05,1.0000,125.000000,1.302000e+03,1.174400e+04,6.959303e+06
new_deaths,335378.0,8.677799e+01,6.182774e+02,0.0000,0.000000,0.000000e+00,3.000000e+00,2.793900e+04
...,...,...,...,...,...,...,...,...
population,344861.0,1.284284e+08,6.607026e+08,47.0000,449002.000000,5.882259e+06,2.830170e+07,7.975105e+09
excess_mortality_cumulative_absolute,11944.0,5.113397e+04,1.443228e+05,-37726.0980,106.400017,5.732800e+03,3.666995e+04,1.289776e+06
excess_mortality_cumulative,11944.0,9.738000e+00,1.238457e+01,-44.2300,1.310000,8.060000e+00,1.547000e+01,7.655000e+01
excess_mortality,11944.0,1.146195e+01,2.536237e+01,-95.9200,-1.632500,5.770000e+00,1.652250e+01,3.776300e+02
excess_mortality_cumulative_per_million,11944.0,1.644920e+03,1.927691e+03,-2752.9248,64.913517,1.071505e+03,2.701610e+03,1.029292e+04

In [12]:
df.head(7).style.background_gradient(cmap='YlOrBr')

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/style.py:3931: RuntimeWarning: All-NaN slice encountered
  smin = np.nanmin(gmap) if vmin is None else vmin
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/style.py:3932: RuntimeWarning: All-NaN slice encountered
  smax = np.nanmax(gmap) if vmax is None else vmax

In [13]:
df['location']

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
344856       Zimbabwe
344857       Zimbabwe
344858       Zimbabwe
344859       Zimbabwe
344860       Zimbabwe
Name: location, Length: 344861, dtype: object

In [14]:
df['location'].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Asia', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'High income', 'Honduras',
       'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Low income', 'Lower middle income', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia (country)', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America', 'North Korea', 'North Macedonia',
       'Northern Cyprus', 'Northern Ireland', 'Northern Mariana Islands',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Barthelemy',
       'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands',
       'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Vatican', 'Venezuela', 'Vietnam', 'Wales', 'Wallis and Futuna',
       'Western Sahara', 'World', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [15]:
df['location'].nunique()

255

In [16]:
df['continent'].unique()

array(['Asia', nan, 'Europe', 'Africa', 'Oceania', 'North America',
       'South America'], dtype=object)

In [17]:
df_palestine=df[df.location=='Palestine']

In [18]:
df_palestine

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
234596,PSE,Asia,Palestine,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,74.05,0.708,5250076.0,NaN,NaN,NaN,NaN
234597,PSE,Asia,Palestine,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,74.05,0.708,5250076.0,NaN,NaN,NaN,NaN
234598,PSE,Asia,Palestine,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,74.05,0.708,5250076.0,NaN,NaN,NaN,NaN
234599,PSE,Asia,Palestine,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,74.05,0.708,5250076.0,NaN,NaN,NaN,NaN
234600,PSE,Asia,Palestine,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,74.05,0.708,5250076.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235955,PSE,Asia,Palestine,2023-09-23,703228.0,0.0,0.0,5708.0,0.0,0.0,...,NaN,NaN,NaN,74.05,0.708,5250076.0,NaN,NaN,NaN,NaN
235956,PSE,Asia,Palestine,2023-09-24,703228.0,0.0,0.0,5708.0,0.0,0.0,...,NaN,NaN,NaN,74.05,0.708,5250076.0,NaN,NaN,NaN,NaN
235957,PSE,Asia,Palestine,2023-09-25,703228.0,0.0,0.0,5708.0,0.0,0.0,...,NaN,NaN,NaN,74.05,0.708,5250076.0,NaN,NaN,NaN,NaN
235958,PSE,Asia,Palestine,2023-09-26,703228.0,0.0,0.0,5708.0,0.0,0.0,...,NaN,NaN,NaN,74.05,0.708,5250076.0,NaN,NaN,NaN,NaN
235959,PSE,Asia,Palestine,2023-09-27,703228.0,0.0,0.0,5708.0,0.0,0.0,...,NaN,NaN,NaN,74.05,0.708,5250076.0,NaN,NaN,NaN,NaN

In [19]:
df_palestine['new_deaths'].max()

34.0

In [20]:
df_palestine[df_palestine['new_deaths'] == df_palestine['new_deaths'].max()]['date']

235068    2021-04-19
Name: date, dtype: object

In [21]:
df_palestine[df_palestine['new_deaths'] == df_palestine['new_deaths'].max()]['icu_patients']

235068   NaN
Name: icu_patients, dtype: float64

In [22]:
df_palestine['female_smokers'].count()

0

In [23]:
df_palestine['male_smokers'].count()

0

In [24]:
df_palestine['people_fully_vaccinated']

234596   NaN
234597   NaN
234598   NaN
234599   NaN
234600   NaN
          ..
235955   NaN
235956   NaN
235957   NaN
235958   NaN
235959   NaN
Name: people_fully_vaccinated, Length: 1364, dtype: float64

In [28]:
df_palestine['population'].unique()

array([5250076.])

In [29]:
df_palestine['weekly_hosp_admissions'].max()

nan

In [30]:
df_palestine['weekly_hosp_admissions'].min()

nan

In [34]:
df_palestine['total_deaths']

234596       NaN
234597       NaN
234598       NaN
234599       NaN
234600       NaN
           ...
235955    5708.0
235956    5708.0
235957    5708.0
235958    5708.0
235959    5708.0
Name: total_deaths, Length: 1364, dtype: float64

In [43]:
df_palestine['total_deaths'].max()

5708.0

In [44]:
df_palestine['total_deaths'].mean()

3892.1234375